/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    display: flex;
    background-color: #333;
    padding: 0;
    margin: 0;
    height: 60px;
}

.top-bar-button, .dropbtn {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    flex: 1;
}

.top-bar-button:hover, .dropbtn:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.dropbtn {
    background-color: #333;
    height: 100%;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1em;
    transform: translateX(-20px);
    opacity: 0;
    animation: slideIn 0.3s forwards;
}

.dropdown-content a:nth-child(1) {
    animation-delay: 0.1s;
}

.dropdown-content a:nth-child(2) {
    animation-delay: 0.2s;
}

.dropdown-content a:nth-child(3) {
    animation-delay: 0.3s;
}

.dropdown-content a:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hero-image {
    position: relative;
    background-image: url('/images/projects_img/mood_2.png');
    background-size: cover; /* Keep cover for full coverage */
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw; /* Use viewport width to make the height scale with the screen size */
    min-height: 250px; /* Set a minimum height to avoid it being too small on smaller screens */
    width: 100%;
    pointer-events: none; /* Allow mouse events to pass through */
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    pointer-events: none; /* Allow mouse events to pass through */
}

.content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
}

.image-button {
    position: relative;
    background-image: url('/images/placeholder.png');
    background-size: cover;
    background-position: center;
    width: 30%;
    padding-bottom: 30%;
    display: block;
    transition: transform 0.3s ease;
}

.image-button:hover {
    transform: scale(1.05);
}

.image-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.footer-left, .footer-right {
    margin: 0;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

/* Styles for Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3); /* Added shadow */
    margin-bottom: 20px; /* Space below the hero section */
}

.hero-image img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    pointer-events: none; /* Allow mouse events to pass through */
}

.hero-text {
    padding-left: 2em;
    color: #333;
    max-width: 600px; /* Set a maximum width for the hero text container */
    pointer-events: none; /* Allow mouse events to pass through */
}

.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    pointer-events: none; /* Allow mouse events to pass through */
}

.hero-text p {
    font-size: 1.2em;
    color: #555;
    pointer-events: none; /* Allow mouse events to pass through */
}
#hero-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure canvas is on top of the content */
    /*pointer-events: none; /* Allow mouse events to pass through */
}

.hero-content {
    position: relative;
    z-index: 2; /* Ensure content is on top of the canvas */
    pointer-events: none; /* Allow mouse events to pass through */
}


/* Styles for Content Container */
.content-container {
    background-color: white;
    padding: 2em;
    text-align: left; /* Ensure all text is left-aligned */
}

.content-container h2 {
    text-align: left; /* Align the title to the left */
    font-size: 2em;
    margin-bottom: 1.5em;
    color: #333;
}

.content-container p {
    font-size: 1.2em;
    color: #555;
}

/* Specific Styles for Index Hero Section */
.index-hero {
    padding: 4em 1em; /* Increase padding for index page only */
    min-height: 350px; /* Set a minimum height for the section on index page only */
}
/* Styles for About Me Section */
.about-me {
    display: flex;
    justify-content: flex-start; /* Align children to the start (left) */
    align-items: flex-start;
    margin-top: 2em;
}

.about-me-text {
    flex: 2; /* Takes up 3/4 of the space */
    margin-right: 2em;
}

.about-me-hobbies {
    flex: 1; /* Takes up 1/4 of the space */
    background-color: #f9f9f9;
    padding: 2em;
    border-radius: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-hobbies ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.about-me-hobbies h2 {
    margin-top: 0; /* Ensure no extra margin at the top of the title */
}


/* Responsive Styles */
@media (max-width: 768px) {
    .image-button {
        width: 80%;
        padding-bottom: 80%;
        margin-bottom: 2em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer-left, .footer-right {
        text-align: center;
        margin-bottom: 0.5em;
    }
}

.image-button {
    border-radius: 10px; /* Adjust the value to change the roundness */
    overflow: hidden; /* Ensures that the image inside respects the border-radius */
}
